@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}
button {
  padding: 12px 15px;
  font-size: 0.9rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0.5px rgba(194, 194, 194, 0.703);
  color: white;
  background: black;
  transition: transform 0.1s linear;
}
button:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}
