@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  background: rgba(191, 191, 243, 0.339);
}
.carousel {
  width: 500px;
  height: 500px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.image-container {
  display: flex;
}
img {
  object-fit: cover;
  flex-basis: 500px;
  flex-basis: 500px;
}
